.finsh-list-container{
    width: 80vw;
    margin: 0 auto;
}

.revert-btn{
    background-color: #F68232;
    text-align: center;
    color :white;
    border-radius: 10px;
    font-weight: bold;
}
.delete-btn{
    background-color: rgb(245, 66, 66);
    text-align: center;
    color :white;
    border-radius: 10px;
    font-weight: bold;
}
