.form-container{
    border-color: blue;
    border-style: solid;
    border-radius: 20px;
    min-width: 30vw;
    height: 80vh;
    background-color: beige;
   
}
form{
    max-width: 80%;
    margin: 0 auto;
}

h3{
    text-align: center;
}
textarea{
    min-width: 80%;
    margin-bottom: 30px;
}
.form-text-area{
    min-width: 100%;
    height: 80%;
     resize: none;
    
}
.btn{
    margin-top: 30px;
    min-width: 100%;
    text-align: center;
}